img {
  width: 100%;
}

.cart-image {
  width: 10rem;
}

#singleOrderViewHeader{
  display: flex;
  justify-content: space-between;
}

#singleOrderViewProducts{
  display: flex;

}

#SingleOrderProductDetails{
  display: flex;
  flex-direction: row-reverse;

}
